*{
    margin: 0;
    padding: 0;
}

.painel{
width: 100%;
}

header{
    background-color: rgb(0,0,0);
}

body{
	background: #b1b1b1b1;
}

.menu{
    width: 100%;
    height: 50px;
    background-color: #222;
    font-family: 'Arial';
}

.menu ul{
    list-style: none;
    position: relative;
}

.menu ul li{
    width: 150px;
    float: left;
}

.menu a{
    padding: 15px;
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: #222;
    color: #ccc;
    letter-spacing: 1px;
    font-size: 17px;

}

.menu ul ul{
    position: absolute;
    visibility: hidden;
}

.menu ul li:hover ul{
    visibility: visible;
}

.menu a:hover{
    background-color: rgb(11,11,10);
    color: rgb(171,3,7);
}

.menu ul ul li{
    float: none;
    border-bottom: solid 1px #ccc;
}

label[for="bt_menu"]{
    padding: 5px;
    background-color:rgb(0,0,0);
    color: #259;
    font-family: 'Arial';
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    width: 35px;
    height: 35px;
    padding-left: #000;
}

#bt_menu{
    display: none;
}

label[for=bt_menu]{
    display: none;
}

@media(max-width: 800px){
    label[for=bt_menu]{
    display: block;
    }
    #bt_menu:checked ~ .menu{
        margin-left: 0;
    }
    .menu{
        margin-top: 5px;
        margin-left:  -100%;
        transition: all .4s;
    }
    .menu ul li{
        width: 100%;
        float: none;
    }
    .menu ul ul{
        position: static;
        overflow: hidden;
        max-height: 0;
        transition: all .4s;
    }
    .menu ul li:hover ul{
        height: auto;
        max-height: 300px;

    }
}

#section{
    margin: 0px auto;
    width: 120px;
    float: right;
    padding-top: 7px;

}

.rede{
    width: 35px;
    height: 35px;
    float: left;
    margin-left: 15px;
    transition: all 0.4s ease-out;
    border-radius: 50%;
}

.rede#facebook{
    background-color: #2372a3;
}

.rede#twitter{
    background-color: #0084b4;
}

.icone1{
    margin: 0px auto;
    padding: 8px;
    width: 20px;
}

.rede:hover{
    cursor: pointer;
    transform: translateY(-20px);
    box-shadow: 4px 30px 16px 0px rgba(50,50,50,0.45);
}

.rodape{
    width: 100%;
    height: 40px;
    background:#000000;
    clear: both;
    color: #259;
    text-align: center;
    padding-top: 1%;
}
